{% extends '::base.html.twig' %}

{% block title %}
    Додавання группи
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        {{ form_errors(form) }}
        <form method="POST" action="#" enctype="multipart/form-data">
            {{ form_row(form) }}
            <button type="submit">Додати</button>
        </form>

    </div>
{% endblock %}
