{% extends '@ValiknetMusic/User/user_webber.html.twig' %}

{% trans_default_domain "user" %}

{% block title %}
    {{ "users.title.newsUser"|trans({"%userName%" : user.name ~ " " ~ user.lastname}) }}
{% endblock %}

{% block links %}
    {{ wo_render_breadcrumbs() }}
{% endblock %}

{% block user_content %}
    <div class="col-lg-12">
        {% include "@ValiknetMusic/Article/block/listArticles.html.twig" with {"articles" : articles} %}
    </div>
{% endblock %}
