{% extends 'ValiknetMusicBundle:Country:country_webber.html.twig' %}

{% trans_default_domain "country" %}

{% block title %}
    {{ "countries.title.groupsCountry"|trans({"%countryName%" : country.name}) }}
{% endblock %}

{% block links %}
    {{ wo_render_breadcrumbs() }}
{% endblock %}

{% block country_content %}
    <div class="col-lg-12">
        {% include "@ValiknetMusic/Group/blocks/listGroups.html.twig" with {"groups" : groups} %}
    </div>
{% endblock %}
