{% extends 'ValiknetMusicBundle:Article:article_webber.html.twig' %}

{% trans_default_domain "article" %}

{% block title %}
    {{ "articles.titles.groupsTitle"|trans({ "%articleName%" : article.name }) }}
{% endblock %}

{% block links %}
    {{ wo_render_breadcrumbs() }}
{% endblock %}

{% block article_content %}
    <div class="col-lg-12">
        {% include "@ValiknetMusic/Group/blocks/listGroups.html.twig" with {"groups" : groups} %}
    </div>
{% endblock %}
