{% extends '::base.html.twig' %}

{% block content %}
    <div class="row col-lg-10 col-lg-offset-1">
        <nav class="navbar navbar-inverse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ path('valiknet_style_children_list', {"slug" : style.slug}) }}">
                        Дочірні категорії
                    </a>
                </li>

                <li>
                    <a href="{{ path('valiknet_style_group_list', {"slug" : style.slug}) }}">
                        Групи
                    </a>
                </li>
            </ul>
        </nav>

        <div class="col-lg-12 arrow-navigator">
            {% block links %}
            {% endblock %}
        </div>

        <div>
            {% block style_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
