<div class="col-lg-12">
    <h3 class="col-lg-12">
        {{ clip.name }}
    </h3>

    <div class="col-lg-12">
        <p>
            {{ clip.text }}
        </p>
    </div>

    <div class="col-lg-12">
        <iframe width="560" height="315" src="//www.youtube.com/embed/inPQm0hnx_c" frameborder="0" allowfullscreen></iframe>
    </div>
</div>